@model WebKontorExpert.Models.ShoppingCart

@{
    ViewData["Title"] = "Shopping Cart";
}
<div class="category-list-container">
    @await Component.InvokeAsync("CategoryList")
</div>

<div class="shopping-cart">
    <h1>Kurv</h1>

    @if (Model.CartItems != null && Model.CartItems.Any())
    {
        <div class="text-right" style="margin-top: 20px;">
            <a asp-action="Payment" asp-controller="Payment" class="btn btn-primary">Gå til kassen</a>
        </div>
        <div class="cart-items">
            @foreach (var item in Model.CartItems)
            {
                <div class="cart-item row align-items-center">
                    <div class="col-md-2">
                        <a href="@Url.Action("ProductPage", "Product", new { id = item.Product.ProductID })">
                            <img src="@item.Product.MainImageUrl" alt="@item.Product.Name" class="img-fluid rounded">
                        </a>
                    </div>
                    <div class="col-md-4 product-info">
                        <h5 class="product-brand font-weight-bold">@item.Product.Brand</h5>
                        <h4 class="product-name font-weight-bold">@item.Product.Name</h4>
                    </div>
                    
                    <div class="col-md-2">
                        <p class="font-weight-bold price">
                            @{
                                if (item.Product.Discount > 0)
                                {
                                    <span class="discounted-price">
                                        @string.Format("{0:0} Kr.", item.Product.DiscountPriceWithoutVAT) <span class="prStk">per stk.</span>
                                    </span>
                                    <span class="exclude-vat">ekskl. moms</span>
                                    <br />
                                    <span class="original-price">
                                        @string.Format("{0:0} Kr.", item.Product.PriceWithoutVAT)  <span class="prStk">per stk.</span>
                                    </span>
                                }
                                else
                                {
                                    <span class="normal-price">
                                        @string.Format("{0:0} Kr.", item.Product.PriceWithoutVAT)  <span class="prStk">per stk.</span>
                                    </span>
                                    <span class="exclude-vat">ekskl. moms</span>
                                }
                            }
                        </p>



                    </div>
                    <div class="col-md-2">
                        <a asp-action="RemoveFromCart" asp-controller="ShoppingCart" asp-route-productId="@item.ProductID" class="btn btn-sm btn-trash">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </div>
            }
        </div>

        <div class="text-right mt-4">
            <a asp-action="ClearCart" asp-controller="ShoppingCart" class="btn btn-danger">Tøm kurv</a>
        </div>
    }
    else
    {
        <p>Din kurv er tom</p>
        <p>Se vores udvalg af møbler og tilføj dem hertil!</p>
    }
</div>


<style>
    .prStk{
        font-size: 0.9rem;
        color: #414230;
        font-family: "Manrope", system-ui;
    }
    @@media (max-width: 1200px) {
        .category-list-container {
            display: none;
        }
    }

    .input-group {
        z-index: 0;
    }

    .shopping-cart {
        max-width: 1400px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        /* Remove or comment out the border property to eliminate the border around the cart */
        border: none; /* or remove this line */
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .cart-item {
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd; /* Keep only the bottom border for item separation */
    }

        .cart-item img {
            max-width: 100%;
            height: auto;
            border-radius: 6px;
        }

    .product-info {
        padding-left: 20px;
    }

    .product-brand {
        font-size: 1.25rem;
        color: #333;
        margin-bottom: 5px;
    }

    .product-name {
        font-size: 1.75rem;
        margin-bottom: 5px;
    }

    .quantity-selector {
        margin-bottom: 0;
    }

        .quantity-selector label {
            font-weight: bold;
        }

        .quantity-selector .input-group {
            width: 120px;
        }

    .btn-outline-secondary {
        color: #007bff;
        border-color: #007bff;
    }

        .btn-outline-secondary:hover {
            color: #0056b3;
            border-color: #0056b3;
        }

    .btn-danger {
        background-color: white;
        border-color: black;
        color: black;
        padding: 5px 10px;
    }

     .btn-trash{
         background-color: black;
         color: white;
     }

        .btn-danger i {
            color: white;
            font-size: 18px;
        }

    .cart-item .btn-danger {
        padding: 0;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-right {
        text-align: right;
    }

    .price {
        font-size: 1.5rem;
        color: black;
        font-family: "Manrope", system-ui;
    }

    .exclude-vat {
        font-size: 0.9rem;
        color: grey;
        margin-left: 10px;
    }

    .btn-primary {
        background-color: green !important;
        border-color: green !important;
    }

        .btn-primary:hover {
            background-color: darkgreen !important;
            border-color: darkgreen !important;
        }

    h1 {
        color: green;
        font-weight: 500;
    }

    .discounted-price {
        font-size: 1.5rem;
        color: darkgreen;
        font-weight: bold;
    }

    .original-price {
        font-size: 1rem;
        color: grey;
        font-family: "Manrope", system-ui;
        text-decoration: line-through;
    }

    .normal-price {
        font-size: 1.5rem;
        color: black;
        font-family: "Manrope", system-ui;
        font-weight: bold;
    }
</style>

@section Scripts {

    <script src="~/js/cartScript.js"></script>



}